.cards h3 {
    color: #e6007e;
    font-weight: 600;
	font-size: 28px;
}

div.cards {
	margin-bottom:  6px;
	border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
    padding: 16px;
}

.cards li {
	Xpadding: 6px;
}

.cards li div {
    display: flex;
    gap: 12px;
    padding: 3px 0;
    align-items: center;
}

.cards li div span {
    display: inline-block;
    border: 0;
    padding: 6px;
    box-sizing: border-box;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}
span.saldo {
	background-color: #FFFFA8;
	width: 120px;
    font-weight: 600;
}

span.alias {
	width: 160px;
}
